thermogram/token
thermogram/chatid
token
chatid
filedati
filepresence
logging.log
*.pyc
*.ini
fileheating
fileschedule
*.log
*.jpg
heating*
Maggiordomo.ID
*at_home
heat_toggle
mysensors.pickle
BotAssistant.chatid
BotAssistant.token
thermoschedule
